<mat-toolbar color="primary" class="navbar">
  <img src="vintage_elegance.png" alt="Vintage Elegance" class="logo" />
  <span class="spacer"></span>
  <button mat-button routerLink="/">Home</button>

  <mat-menu #servicesMenu="matMenu">
    <button mat-menu-item routerLink="/haircare">Haircare</button>
    <button mat-menu-item routerLink="/skincare">Skincare</button>
    <button mat-menu-item routerLink="/bodycare">Bodycare</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="servicesMenu">Services</button>

  <ng-container *ngIf="currentUser$ | async as user; else loginTpl">
    <button
      mat-button
      routerLink="/admin/signup"
      *ngIf="authService.hasRole('ROLE_ADMIN')"
    >
      Create Moderator
    </button>
    <button
      mat-button
      routerLink="/moderator/signup"
      *ngIf="authService.hasRole('ROLE_MODERATOR')"
    >
      Create User
    </button>
    <button mat-button (click)="logout()">Logout</button>
  </ng-container>

  <ng-template #loginTpl>
    <button mat-button routerLink="/login">Login</button>
  </ng-template>
</mat-toolbar>
