@use "sass:color";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap");
$primary-color: #000;
$accent-color: #ecd540;
$background-color: white;
$highlight-color: #800000;
$text-color: #f5f5f5;

.side-heading {
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  color: $text-color;
}
.side-icon {
  color: $text-color;
}
.sidenav-container {
  height:538px;
  background-color: $background-color;
  color: #000;
}

.sidenav {
  width: 260px;
  background-color: $primary-color;
  color: $accent-color;
  display: flex;
  flex-direction: column;
  padding: 16px;

  .sidebar-header {
    text-align: center;
    margin-bottom: 24px;
    .brand-title {
      margin: 0;
      color: $accent-color;
      font-weight: bold;
      font-size: 1.5rem;
    }
    .greeting {
      margin: 0;
      margin: 8px 0;
      font-size: 24px;
      font-weight: 600;
      background: linear-gradient(45deg, $accent-color, $highlight-color);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

      font-family: "Noto Sans", serif;
      font-weight: bold;
    }
  }

  mat-nav-list {
    flex: 1;
    a {
      color: $accent-color;
      font-size: 1rem;
      padding: 12px 16px;
      border-radius: 4px;
      margin-bottom: 8px;
      display: flex;
      align-items: center;

      mat-icon {
        margin-right: 8px;
        margin-bottom: -5px;
      }

      &:hover {
        background-color: rgba($accent-color, 0.15);
      }

      &.active-link {
        background-color: rgba($accent-color, 0.25);
        font-weight: bold;
      }
    }
  }

  .sidebar-footer {
    text-align: center;
    font-size: 16px;
    color: color.adjust($accent-color, $lightness: 20%);
    margin-top: 16px;
  }
}

.content {
  padding: 24px;
  background-color: $background-color;
  .dashboard-content {
    padding: 16px;

    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
}
