<mat-drawer-container class="sidenav-container">
  <mat-drawer mode="side" opened class="sidenav">
    <div class="sidebar-header">
      <p class="greeting">Hello, Admin!</p>
    </div>
    <mat-nav-list>
      <a mat-list-item routerLink="statistics" routerLinkActive="active-link">
        <mat-icon>insights</mat-icon>
        <span class="side-heading">Statistics</span>
      </a>
      <a mat-list-item routerLink="franchise" routerLinkActive="active-link">
        <mat-icon>business</mat-icon
        ><span class="side-heading">Franchise </span>
      </a>
      <a
        mat-list-item
        routerLink="salon-management"
        routerLinkActive="active-link"
      >
        <mat-icon>location_on</mat-icon>
        <span class="side-heading">Salon Management</span>
      </a>
      <a
        mat-list-item
        routerLink="/admin/signup"
        routerLinkActive="active-link"
      >
        <mat-icon>person_add</mat-icon>
        <span class="side-heading">Create Moderator</span>
      </a>
    </mat-nav-list>
    <div class="sidebar-footer">
      <small>&copy; 2025 Vintage Elegance</small>
    </div>
  </mat-drawer>

    <div class="dashboard-content">
      <router-outlet></router-outlet>
    </div>

</mat-drawer-container>
