<ngb-carousel [interval]="3000">
  <ng-template ngbSlide>
    <img src="promo_one.png" alt="Image 1" class="d-block w-100" />
    <div class="carousel-caption"></div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="promo_two.png" alt="Image 2" class="d-block w-100" />
    <div class="carousel-caption"></div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="promo_three.png" alt="Image 3" class="d-block w-100" />
    <div class="carousel-caption"></div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="promo_four.png" alt="Image 4" class="d-block w-100" />
    <div class="carousel-caption"></div>
  </ng-template>
</ngb-carousel>

<!-- <section class="container-one">
  <div class="container px-5">
    <div class="row gx-5 align-items-center text-center">
      <div class="col-lg-12">
        <div>
          <h1 class="title">WHY CHOOSE US?</h1>
          <p class="content">
            With over 28 years of excellence, Vintage Elegance brings the wisdom
            of decades in the beauty industry. <br />Our personalized services
            are thoughtfully crafted to embrace your unique needs and
            preferences, ensuring you receive the care and attention you truly
            deserve. We are unwavering in our commitment to quality, using only
            the finest premium products to deliver an exceptional beauty
            experience.
          </p>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section class="container-one">
  <div class="container px-5">
    <div class="row gx-5 align-items-center text-center">
      <div class="col-lg-12">
        <div>
          <h1 class="title">Signature Trendsetting Services</h1>
          <hr class="horizontal-line" />
          <p class="content">
            Experience the artistry of our runway experts, who have meticulously
            crafted a selection of the most sought-after beauty services at
            Vintage Elegance.Indulge in the latest trends, handpicked
            exclusively for you.Choose your perfect transformation and visit
            your nearest salon to begin your stunning makeover today! ✨
          </p>
          <div class="col-lg-12">
            <div class="py-5">
              <div class="services-block">
                <div class="service-item">
                  <a routerLink="/bodycare">
                    <img
                      src="pedicure.gif"
                      style="width: 200px; height: 200px"
                      alt="Pedicure &amp; Manicure"
                    />
                    <div class="bottom-service-name">
                      <span>Pedicure and Manicure</span>
                    </div>
                  </a>
                </div>
                <div class="service-item">
                  <a routerLink="/skincare">
                    <img
                      src="bride_new.jpg"
                      style="width: 200px; height: 180px"
                      alt="Beauty Sutra Facial"
                    />
                    <div class="bottom-service-name">
                      <span>Korean Glow Facial Women</span>
                    </div>
                  </a>
                </div>
                <div class="service-item">
                  <a routerLink="/skincare">
                    <img
                      src="bride.jpg "
                      style="width: 200px; height: 200px"
                      alt="Ethereal Bloom Bridal Makeup Collection"
                    />
                    <div class="bottom-service-name">
                      <span>Ethereal Bloom Bridal Makeup Collection</span>
                    </div>
                  </a>
                </div>
                <div class="service-item">
                  <a routerLink="/haircare">
                    <img
                      src="pedicure_new.jpg"
                      style="width: 200px; height: 200px"
                      alt="Elemental Symphony- Cut &amp; Colour Collection"
                    />
                    <div class="bottom-service-name">
                      <span
                        >Elemental Symphony- Cut &amp; Colour Collection</span
                      >
                    </div>
                  </a>
                </div>
                <div class="service-item">
                  <a routerLink="/skincare">
                    <img
                      src="aliabhat.jpg"
                      style="width: 200px; height: 200px"
                      alt="Everyday Glam makeup"
                    />
                    <div class="bottom-service-name">
                      <span>Everyday Glam makeup</span>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="trending-container">
  <div class="trending-text">
    <h2>What’s Trending?</h2>
    <p>
      Step into the world of timeless beauty with
      <strong>The Ethereal Bloom Bridal Makeup Collection</strong> from
      <strong>Vintage Elegance</strong>. Designed to illuminate your natural
      radiance, this collection celebrates your inner magic with every delicate
      brushstroke and flowing strand.
    </p>
    <p>
      Whether you envision yourself as a
      <strong>sophisticated bride exuding grace and charm</strong> or a
      <strong>free-spirited soul embracing bold confidence</strong>, Ethereal
      Bloom is tailored to bring your dream bridal look to life. Inspired by
      your uniqueness and perfected by our expert artists, this collection
      seamlessly blends <strong>elegance with an ethereal allure</strong>,
      ensuring you <strong>shine effortlessly on your special day</strong>.
    </p>
    <p>
      Let your beauty bloom like never before—because at
      <strong>Vintage Elegance</strong>, every bride deserves a masterpiece.
      ✨💫
    </p>
    <div class="read-more">
      <a routerLink="/bridal">Read More</a>
    </div>
  </div>
  <div class="trending-image">
    <img src="kiara_sangeet.webp" alt="Ethereal Bloom Bridal Makeup" />
  </div>
</div>


<div class="franchise-container">
  <div class="franchise-image">
    <img src="vini.webp" alt="Franchise Opportunity">
  </div>
  <div class="franchise-text">
    <h2>Franchise Opportunity With Vintage Elegance</h2>
    <p>
      Unlock the opportunity to become a part of the successful Vintage Elegance Salon franchise network. With over 400 women entrepreneurs already thriving, you too can transform your passion for beauty into a flourishing business. Our franchise model offers comprehensive support, training, and a proven business strategy to help you excel.
    </p>
  </div>
</div>

