@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap");
.haircare-container {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 50px;
}

.text-content {
  flex: 1;
  padding-left: 50px;

  h1 {
    font-size: 2.5rem;
    line-height: 1.5;
  }

  .book-now {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    background-color: #79443b;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;

    &:hover {
      background-color: grey;
      color: white;
    }
  }
}
.highlight {
  background: linear-gradient(to right, #c49a6c, #79443b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.image-container {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;

  img {
    width: 500px;
    height: 500px;
    border-radius: 40px;
  }

  .labels {
    position: absolute;
    width: 100%;

    .label {
      position: absolute;
      background-color: rgba(255, 255, 255, 0.8);
      color: black;
      padding: 5px 10px;
      font-size: 0.9rem;
      border-radius: 5px;
      white-space: nowrap;
    }
  }
}
